In [15]:
# Goal - convert features and labels from dataframes to np arrays ready for use in tensorflow.

%matplotlib inline
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

# Load the cached pandas pickle file.
base_dir = '../data/'

# Load validation set dataframe from file
feat_validate_df = pd.read_pickle(base_dir + 'feat_validate.pickle')
# Group the data by taking the max of all images per business
biz_feat_validate_df= feat_validate_df.groupby(['business_id']).agg(['max'])
# Drop photo_id, since all ids were averaged (And we don't care about it anyways)
biz_feat_validate_df.drop('photo_id', axis=1, inplace=True)
# Grab the (already sorted) business_ids to be used to split the labels up.
biz_ids_validate = biz_feat_validate_df.index

# See above for details.
feat_train_df = pd.read_pickle(base_dir + 'feat_train.pickle')
biz_feat_train_df= feat_train_df.groupby(['business_id']).agg(['max'])
biz_feat_train_df.drop('photo_id', axis=1, inplace=True)
biz_ids_train = biz_feat_train_df.index


#Clean up labels
labels_df = pd.read_pickle(base_dir + 'labels.pickle')
# Make the index int64 instead of string so sorting and matching works correctly.
labels_df.index = pd.to_numeric(labels_df.index)
# Sort all the labels based on business_id
labels_df = labels_df.sort_index()



labels_df()


print biz_ids
print labels_df

Int64Index([   9,   18,   36,   50,   68,   91,   93,  111,  112,  142,
            ...
            3919, 3923, 3926, 3936, 3937, 3938, 3971, 3983, 3992, 3994],
           dtype='int64', name=u'business_id', length=400)
         0      1      2      3      4      5      6      7      8
3     True   True  False  False  False  False  False  False  False
4     True   True   True   True   True  False  False  False  False
5     True   True   True   True   True   True  False  False  False
6     True   True   True   True  False  False  False  False  False
7     True   True   True  False  False  False  False  False  False
8     True   True   True   True   True   True  False  False  False
9     True   True   True   True   True   True  False  False  False
12    True   True   True   True   True  False  False  False  False
13    True   True   True  False  False  False  False  False  False
14    True   True   True  False  False  False  False  False  False
16    True   True   True   True   True   True  False  False  False
18    True   True   True   True   True   True   True  False  False
19    True   True   True   True   True   True  False  False  False
21    True   True   True   True   True   True  False  False  False
23    True   True   True   True   True  False  False  False  False
24    True   True  False  False  False  False  False  False  False
26    True   True   True   True   True   True  False  False  False
28    True   True  False  False  False  False  False  False  False
29    True   True   True   True   True   True  False  False  False
32    True   True  False  False  False  False  False  False  False
35    True   True   True   True   True  False  False  False  False
36    True   True   True   True   True   True  False  False  False
37    True   True   True   True   True  False  False  False  False
38    True   True   True  False  False  False  False  False  False
39    True   True   True   True   True  False  False  False  False
41    True   True   True  False  False  False  False  False  False
48    True   True   True   True   True  False  False  False  False
50    True   True   True   True   True   True  False  False  False
51    True   True  False  False  False  False  False  False  False
54    True  False  False  False  False  False  False  False  False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...
3932  True   True   True  False  False  False  False  False  False
3936  True   True  False  False  False  False  False  False  False
3937  True   True   True   True   True   True  False  False  False
3938  True   True   True   True   True   True  False  False  False
3941  True   True   True   True   True   True  False  False  False
3943  True   True  False  False  False  False  False  False  False
3945  True   True   True   True   True  False  False  False  False
3946  True   True   True   True  False  False  False  False  False
3947  True   True   True   True   True   True   True  False  False
3952  True   True   True  False  False  False  False  False  False
3954  True   True  False  False  False  False  False  False  False
3955  True   True   True   True  False  False  False  False  False
3956  True   True   True   True  False  False  False  False  False
3961  True   True  False  False  False  False  False  False  False
3965  True   True   True   True   True   True   True  False  False
3971  True  False  False  False  False  False  False  False  False
3973  True   True   True   True   True  False  False  False  False
3979  True   True   True   True   True   True  False  False  False
3980  True   True   True  False  False  False  False  False  False
3982  True   True   True  False  False  False  False  False  False
3983  True   True   True   True  False  False  False  False  False
3986  True   True   True   True  False  False  False  False  False
3987  True   True   True  False  False  False  False  False  False
3988  True   True   True  False  False  False  False  False  False
3989  True  False  False  False  False  False  False  False  False
3992  True   True   True  False  False  False  False  False  False
3994  True   True   True  False  False  False  False  False  False
3998  True   True   True   True   True   True  False  False  False
3999  True   True   True   True   True   True  False  False  False
4000  True  False  False  False  False  False  False  False  False

[2000 rows x 9 columns]